@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@200;300;500;600&display=swap');

<<<<<<< HEAD
*{
=======
* {
>>>>>>> 2983bd885b5455b3b5786e9b2135166c365a83af
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

<<<<<<< HEAD
body{
    font-family: 'Poppins', 'sans-serif';
    min-height: 100vh;  
    background-color: #0f1015;
}

header{
=======
body {
    font-family: 'Poppins', 'sans-serif';
    min-height: 100vh;
    background-color: #0f1015;
}

header {
>>>>>>> 2983bd885b5455b3b5786e9b2135166c365a83af

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}

<<<<<<< HEAD
.logo .logo-text{
    color: #FF186C;
}

.logo{
=======
.logo .logo-text {
    color: #FF186C;
}

.logo {
>>>>>>> 2983bd885b5455b3b5786e9b2135166c365a83af
    display: flex;
    align-items: center;
}

<<<<<<< HEAD
.logo span{
=======
.logo span {
>>>>>>> 2983bd885b5455b3b5786e9b2135166c365a83af
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

<<<<<<< HEAD
.navbar{
    display: flex;
}

.navbar a{
=======
.navbar {
    display: flex;
}

.navbar a {
>>>>>>> 2983bd885b5455b3b5786e9b2135166c365a83af
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .50s ease;

}

<<<<<<< HEAD
.navbar a:hover{
    color: #FF186C;
}

.navbar a.active{
    color: #FF186C;
}

section{
    padding: 28px 12%;
}

.home{
=======
.navbar a:hover {
    color: #FF186C;
}



section {
    padding: 28px 12%;
}

.home {
>>>>>>> 2983bd885b5455b3b5786e9b2135166c365a83af
    width: 100%;
    min-height: 45vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

<<<<<<< HEAD
.home-img img{
    max-width: 100%;
    width: 550px;
    height: auto;
    margin-left: 130px;
}

.home-text h2{
=======
.home-img img {
    max-width: 100%;
    width: 650px;
    height: auto;
    margin-left: 80px;
}

.home-text h2 {
>>>>>>> 2983bd885b5455b3b5786e9b2135166c365a83af
    font-size: 2.5rem;
    color: #fff;
}

<<<<<<< HEAD
.home-text h5{
=======
.home-text h5 {
>>>>>>> 2983bd885b5455b3b5786e9b2135166c365a83af
    color: #fff;
    margin-bottom: 15px;
    font-weight: 400;
}

<<<<<<< HEAD
.btn,.btn2{
=======
.btn,
.btn2 {
>>>>>>> 2983bd885b5455b3b5786e9b2135166c365a83af
    display: inline-block;
    padding: 10px 20px;
    background: #FF186C;
    color: #fff;
    border-radius: 0.5rem;

    margin-top: 15px;
}

<<<<<<< HEAD
.btn2{
    margin-left: 25px;
}

.btn:hover{
=======
.btn2 {
    margin-left: 25px;
}

.btn:hover {
>>>>>>> 2983bd885b5455b3b5786e9b2135166c365a83af
    transform: scale(1.2) translateY(10px);
    transition: .4s;

    background: #fff;
    color: #FF186C;
}

<<<<<<< HEAD
.btn2:hover{
=======
.btn2:hover {
>>>>>>> 2983bd885b5455b3b5786e9b2135166c365a83af
    transform: scale(1.2) translateY(10px);
    transition: .4s;

    background: #fff;
    color: #FF186C;
}


<<<<<<< HEAD
.header{
=======
.header {
>>>>>>> 2983bd885b5455b3b5786e9b2135166c365a83af
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

<<<<<<< HEAD
.title{
=======
.title {
>>>>>>> 2983bd885b5455b3b5786e9b2135166c365a83af
    font-size: 1.5rem;
    font-weight: 350;
    margin: 0;
    color: #fff;
    padding: 0px 9%;

}

.swiper {
<<<<<<< HEAD
    height: 2%;
  }

  .swiper-slide img {
    width: 100%;
  }
=======
    width: 75%;
    margin-top: 10px;
}

.swiper-slide img {
    width: 24.7%;
}


#movies{
    display: flex;
}
>>>>>>> 2983bd885b5455b3b5786e9b2135166c365a83af
