@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@200;300;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

body{
    font-family: 'Poppins', 'sans-serif';
    min-height: 100vh;  
    background-color: #0f1015;
    color: white;
    line-height: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    margin: 30px 100px 0px;
    transition: all .50s ease;
}

.logo .logo-text{
    color: #FF186C;
}

.logo{
    display: flex;
    align-items: center;
}

.logo span{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.navbar{
    display: flex;
    margin-bottom: 0rem;
    padding: 0rem;
}

.navbar a{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .50s ease;
}

.navbar a:hover{
    color: #FF186C;
}



main {
    display: flex;
    flex-direction: column;
    margin: 80px 100px;
}

h1 {
    color: white;
    font-size: 1.5rem;
}

#series{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 80px;
    margin-top: 30px;
}


.conteudo-filme {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-right: 50px;
}

.conteudo-filme img {
    transition: all 0.5s;
}

.conteudo-filme img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.modal-content {
    background-color: black;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

